
<!-- id es para que tome el link interno del footer -->
<div class="container-fluid" id="ir-skills">
  <div class="list-group-flush w-90">
    <div class="row">
      <div class="col text-start">
        <h1>Hard y Soft Skills</h1>
      </div>

    <div class="col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
        [percent]="45"
        [radius]="60"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#000000'"
        [innerStrokeColor]="'#5324ff'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>

    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress  
         [percent]="45" 
         [radius]="60"  
         [imageSrc]="'../assets/CSS.png'"           
         [showImage]="true"         
         [imageHeight]="70" 
         [imageWidth]="70"        
         [showUnits]="false"      
         [showSubtitle]="false"       
         [outerStrokeWidth]="8"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#000000'"
         [innerStrokeColor]="'#5324ff'"         
         [animation]="true"          
         [animationDuration]="600"       
          ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress  
         [percent]="45" 
         [radius]="60"  
         [imageSrc]="'../assets/js.png'"           
         [showImage]="true"         
         [imageHeight]="70" 
         [imageWidth]="70"        
         [showUnits]="false"      
         [showSubtitle]="false"       
         [outerStrokeWidth]="8"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#000000'"
         [innerStrokeColor]="'#5324ff'"          
         [animation]="true"          
         [animationDuration]="600"       
          ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress  
         [percent]="88" 
         [radius]="60"  
         [imageSrc]="'../assets/canva.png'"           
         [showImage]="true"         
         [imageHeight]="70" 
         [imageWidth]="70"        
         [showUnits]="false"      
         [showSubtitle]="false"       
         [outerStrokeWidth]="8"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#000000'"
         [innerStrokeColor]="'#5324ff'"       
         [animation]="true"          
         [animationDuration]="600"       
          ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress  
         [percent]="60" 
         [radius]="60"  
         [imageSrc]="'../assets/eng.png'"           
         [showImage]="true"         
         [imageHeight]="70" 
         [imageWidth]="70"        
         [showUnits]="false"      
         [showSubtitle]="false"       
         [outerStrokeWidth]="8"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#000000'"
         [innerStrokeColor]="'#5324ff'"         
         [animation]="true"          
         [animationDuration]="600"       
          ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress  
         [percent]="44" 
         [radius]="60"  
         [imageSrc]="'../assets/git.png'"           
         [showImage]="true"         
         [imageHeight]="70" 
         [imageWidth]="70"        
         [showUnits]="false"      
         [showSubtitle]="false"       
         [outerStrokeWidth]="8"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#000000'"
         [innerStrokeColor]="'#5324ff'"        
         [animation]="true"          
         [animationDuration]="600"       
          ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress  
         [percent]="88" 
         [radius]="60"  
         [imageSrc]="'../assets/grupal.png'"           
         [showImage]="true"         
         [imageHeight]="70" 
         [imageWidth]="70"        
         [showUnits]="false"      
         [showSubtitle]="false"       
         [outerStrokeWidth]="8"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#000000'"
         [innerStrokeColor]="'#5324ff'"       
         [animation]="true"          
         [animationDuration]="600"       
          ></circle-progress>
    </div>
   
</div>


      <div class="col text-end">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary bi bi-plus-square"
          routerLink="/newskill"
          *ngIf="isLogged"
        >
          Agregar
        </button>
      </div>
    </div>


    <div class="list-group-item m-auto">
      <!--  -->
      <div class="row row-cols-auto text-center m-auto ">
        <ul>
          <li *ngFor="let Skill of skills">
            <div class="col-12 col-sm my-2">
              <div class="row m-auto">
                <circle-progress
                  [percent]="Skill.porcentaje"
                  [outerStrokeColor]="Skill.colorExterno"
                  [innerStrokeColor]="Skill.colorInterno"
                  [imageSrc]="Skill.imgsrc"
                  [title]="Skill.nombreSkill"
                ></circle-progress>
              </div>
              <div class="row text-center">
                <p class="fw-bold">{{ Skill.nombreSkill }}</p>
              </div>
              <div class="row text-center">
                <div class="col-6">
                  <button
                    *ngIf="isLogged"
                    class="bi bi-pencil btn btn-sm btn-outline-dark"
                    routerLink="/editskill/{{ Skill.id }}"
                  >
                    Editar
                  </button>
                </div>
                <div class="col-6">
                  <button
                    *ngIf="isLogged"
                    class="bi bi-trash3-fill btn btn-sm btn-outline-danger"
                    (click)="delete(Skill.id)"
                  >
                    Borrar
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

