
/*estilo foto perfil*/
@media (min-width: 576px){
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 15px #5324ff;
        left: 5%;
        top:600px;
    }
}
@media (max-width: 575px){
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #5324ff;
        left: 33%;
        top:950px;
    }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 10%;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;

}
#titulo{
    color: rgb(255, 255, 255);
}
#descripcionacercademi{
 color: rgb(255, 255, 255);
}

h1,p{
    color: rgb(255, 255, 255);
}
div{
    background-color: #0b0a45;
}
.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    }